# ENV
NODE_ENV = 'State the nodejs enviroment'

# PORT
PORT = state the number of the port to use

# LOG
LOG_LEVEL = Complete with the logger level

# MAPBOX
MAPBOX_API_KEY = Here goes the api key from Mapbox

# OPEN WEATHER MAP
OPENWEATHERMAP_API_KEY = Here goes the api from Open Weather